:root {
  --text: #3f3a33;
  --text-muted: #716a60;
  --text-h: #1f1c18;

  --bg: var(--ion-background-color);
  --surface: #ffffff;
  --border: #e5e0d8;

  --accent: #27221d;
  --danger: #9d2f2f;

  --shadow: rgba(31, 28, 24, 0.08) 0 8px 24px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;

  font: 16px/145% var(--sans);
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
}

#root {
  min-height: 100vh;
}

/* button,
input,
textarea,
select {
  font: inherit;
} */

button {
  color: inherit;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

h1,
h2,
h3 {
  color: var(--text-h);
}

p {
  color: var(--text-muted);
}

a {
  color: inherit;
}